*,*::before,*::after{
    box-sizing: border-box;
	margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.Container{    
    width: 1343px;
    /*height: 1017px;*/
    height: 2700px;
    /*background-color:green;*/
}

/*Inicio Container Head*/
.ContainerHead{
    width: 100%;
    height: 2%;
    /*background-color:pink;*/
    display: flex;   
    justify-content: space-between;
    align-items: center; 
}

.Menu{
    width: 30%;
    height: 30%; 
    /*background-color:red;*/
}

.Menu-Items{
    width: 100%;
    height: 100%;
    /*background-color:#002535;*/
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}  

.Menu-ItemLink{
    color:black;
    font-size: 15px;
}

.Menu-ItemLink:hover{
    color:red;
    transition: 1s all;
}
/*Fin Container Head*/
/*Inicio Container Main*/
.ContainerMain{
    width: 100%;
    height: 5%;    
    background-image: url('./imagenes/banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerMain-Title{
    font-size: 15px;
    color:black;
    font-weight: bold;    
}
.ContainerMain--ColorH1{
    font-size: 30px;
    color:white;    
}

.ContainerMain-P{
    font-size: 15px;
    color:black;
}
.ContainerMain--ColorP{
    color:white;
}

/*Fin Container Main*/
/*Inicio Container Popular*/
.ContainerPopular{
    /*background-color:blue;*/
    width: 70%;
    height: 20%;    
    margin:0 auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr,3fr,1fr);
    grid-gap:30px;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
.CPopular-TitleT{
    padding-top: 30px;;
    text-align: left;
}
.CPopular-Title{
    font-size: 15px;
    color:black;
    font-weight: bold;    
}
.CPopular--ColorH3{
    font-size: 20px;
    padding-bottom: 30px;;
}

.CPopular-P {
    font-size: 15px;
    color:black;
}

.ContainerPopular .CPopular-TitleT{
    grid-column: 1/3;
    grid-row: 1/2;
}

.ContainerPopular .CPopular-Text .CPopularAuthor{
    grid-column: 1/2;
    grid-row: 2/4;
}

.ContainerPopular-Imagen{
    grid-column: 2/3;
    grid-row: 2/4; 
}

.CPopularAuthor{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.CPopularAuthor-Link{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.CPopularAuthor-Name{
    font-size: 15px;
    color:black;
    font-weight: bold;       
}
.CPopularAuthor--Date{
    font-weight: 100;
}
/*Fin Container Popular*/

/*Inicio Container List Popular*/
.ContainerListPopular{
    /*background-color:pink;*/
    width: 70%;
    height: 20%;    
    margin:0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap:15px;
}

.CLP-H2{
    font-size: 18px;
    color:black;
    font-weight: bold;    
}

.CLP--Size{
    padding-top: 8px;
    padding-bottom: 8px;
}

.ContainerListPopular .CLP_1 .CLP_2 .CLP_3{
    grid-column: 1/2;
    grid-row: 1/1;
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr,3fr,1fr);
   /* grid-gap:30px;*/
}

/*.CLP .CLP-Imagen .CLP-H2 .CLP-P .CLPAuthor{
    grid-column: 1/2;
    grid-row: 1/5;
}*/

.CLPAuthor{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.CLPAuthor-Link{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.CLPAuthor-Name{
    font-size: 15px;
    color:black;
    font-weight: bold;       
}
.CLPAuthor--Date{
    font-weight: 100;
}
/*Fin Container List Popular*/

/*Inicio Container All Articles*/
.ContainerAllArticles{
    /*background-color:skyblue;*/
    width: 70%;
    height: 40%;    
    margin:0 auto;

    display: grid;
    grid-template-columns: repeat(2,1fr,3fr);
    grid-template-rows: repeat(5,1fr);
    /*grid-gap:15px;*/
}
.CAA-TitleTexto{
    font-size: 18px;
    color:black;
    font-weight: bold;        
}
.CAA--Space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ContainerAllArticles .CAA-Imagen{
    grid-column: 1/2;
    grid-row: 1/2;    
}
.ContainerAllArticles .CAA-TextoLink{
    grid-column: 2/3;
    grid-row: 1/2;  
}

.CAA_1, .CAA_2,.CAA_3, .CAA_4, .CAA_5 {
    display: grid;
    grid-template-columns: repeat(2,1fr,4fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap:15px;
}

.CAAAuthor{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.CAAAuthor-Link{
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.CAAAuthor-Name{
    font-size: 15px;
    color:black;
    font-weight: bold;       
}
.CAAAuthor--Date{
    font-weight: 100;
}

/*Fin Container All Articles*/

/*Inicio Containe Work Us*/
.ContainerWorkUs{
    width: 70%;
    height: 5%;
    margin:0 auto;
    /*background-color:pink;*/
    display: flex;   
    justify-content: space-between;
    align-items: center; 
}
/*Fin Containe Work Us*/